{% extends "base.html" %}
{% block content %}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-cv9r{border-color:inherit;color:rgb(0, 0, 0);text-align:left;vertical-align:top}
.tg .tg-wwzz{background-color:rgb(255, 255, 255);border-color:inherit;color:rgb(0, 0, 0);text-align:left;vertical-align:top}
</style>

<table class="tg" style="margin-left:auto;margin-right:auto">
<thead>
  <tr>
    <th class="tg-wwzz"><b>IDs:</b></th>
    <th class="tg-wwzz"><b>Dates:</b></th>
  </tr>

</thead>
<tbody>
   {% for d in data %}   
  <tr>
    <td class="tg-cv9r">{{d.card_id}}</td>
    <td class="tg-cv9r">{{d.date}}</td>
  </tr>
   {% endfor %}
  
</tbody>
</table>
{% endblock %}